@import "../../../../styles/partials/layout";
@import "../../../../styles/partials/colors";
@import "../../../../styles/partials/fonts";
@import "../../../../styles/partials/screen-sizes";

.header-container {
  z-index: 2;
}
.header {
  padding: $medium;
}
.header-shadow {
  box-shadow: 1px 1px 5px $lightGrey;
}
@media #{$tab-media-query-major} {
  .header-container {
    .header-padding {
      padding: $medium 0;
      max-width: 1260px;
    }
  }
}
