// use xx format to make varibale
// We will refactor all font-size in xx format in future
$xxxLargeHeading: 64px;
$xxLargeHeading: 40px;
$mainHeading: 30px;
$blockHeading: 26px;
$supportText: 20px;
$blockHeadingSm: 18px;
$primary: 16px;
$secondary: 14px;
$tertiary: 12px;
$xs: 10px;
$xxSmall: 8px;

// font weights
$boldest: 700;
$bolder: 600;
$bold: 500;
$normal: 400;
$light: 300;
$lighter: 200;
