.show {
  display: flex;
  opacity:1;
}

.hide {
  display: none;
  opacity:0;
}

.modal {
  transition: 2s ease;
  z-index: 1000;
  animation: grow .3s ease-in-out;
}
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
