@import "../../../../styles/partials/layout";
@import "../../../../styles/partials/colors";
@import "../../../../styles/partials/screen-sizes";
.select-city-container {
  position: relative;

  .input-container {
    width: 100%;
    background-color: $white;
    height: $xxxxLarge;
    padding: $small;
    border-radius: $xxxxxLarge;
    overflow: hidden;
    .map-pin {
      width: $xxLarge;
      margin: 0 $small;
    }
    .input {
      height: 100%;
      width: 100%;
      border: none;
      padding: 0 $xxxLarge 0 0;
      background: transparent;
    }
    .input:focus {
      outline: none;
      .autocomplete-results {
        background-color: red;
      }
    }
    .search-icon {
      height: $xLarge;
      width: $xLarge;
      padding: $large;
      background-color: $primaryColor;
      border-radius: $xxxxLarge;
    }
  }

  .autocomplete-results {
    background-color: $white;
    margin: $medium 0;
    border-radius: $small;
    position: absolute;
    overflow-y: scroll;
    height: 300px;
    width: 300px;
    top: $xxxxLarge + $xLarge;
    opacity: 0;
    transform: scale(0.95);
    transition: 0.2s ease;
    box-shadow: 0px 0px 5px $lighterGrey;
    .result {
      color: $dark;
      padding: $medium;
      border-bottom: 1px solid #ccc;
    }
    .result:hover {
      background-color: $primaryColor;
      color: $white;
      font-weight: bolder;
    }
  }
  .showResult {
    opacity: 1;
    transform: scale(1);
  }
}

@media #{$tab-media-query-major} {
  .select-city-container {
    .autocomplete-results {
      width: 400px;
    }
  }
}
